// ==================================================
// Variables
// ==================================================

$gold: #BDB099;
$gold-hover: #D1C8B8;


$serif: Georgia, sans-serif;
$sans-serif: Helvetica, Arial, sans-serif;